* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 1%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

img {
  width: 100%;
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
  }
}

@media (max-width: 576px) {
  .gallery {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      padding-bottom: 1%;
    }
  }
}
