* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  section {
    width: 60vw;
  }
  
  section h2 {
    font-weight: lighter;
    color: white;
    font-size: 3rem;
    background-color: #43d1af;
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  
  form {
    font-size: 2rem;
  
    width: 60vw;
  
    display: flex;
  
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  
    padding: 3rem;
  
    background-color: rgb(246, 246, 246);
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    font-size: 2rem;
    padding: 0.8rem;
    margin-bottom: 1.6rem;
  }
  /*
    form div {
      display: flex;
      align-items: center;
      flex-direction: row;
    
      gap: 1rem;
    }
    */
  
  /*
    label {
      font-weight: bold;
      padding-bottom: 1rem;
    }
    input[type="text"],
    input[type="email"] {
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 1.6rem;
    }
    
    select {
      width: 100%;
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 1.6rem;
    }
    */
  
  .submitButton {
    color: white;
    background-color: #43d1af;
    font-size: 2rem;
    width: 100%;
    border-style: none;
    padding: 1rem;
  }
  
  .submitButton:hover {
    background-color: #2ebc99;
  }